<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="listenPort" value="5112" />
    <add key="deviceIp" value="192.168.178.112" />
    <add key="devicePort" value="5112" />
    <add key="username" value="admin" />
    <add key="password" value="" />
    <add key="outletCount" value="2" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
